@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

.sticky {
  @apply fixed z-[9999] bg-white/80 dark:bg-[#121212]/80 transition;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo {
  @apply py-2;
}

.sticky #navbarToggler span {
  @apply bg-[#121212] dark:bg-white;
}

.sticky #navbarCollapse li > a {
  @apply text-[#121212] dark:text-white hover:text-[#1DB954] dark:hover:text-[#1DB954] hover:opacity-100;
}

#navbarCollapse li .ud-menu-scroll.active {
  @apply opacity-70;
}

.sticky #navbarCollapse li .ud-menu-scroll.active {
  @apply text-[#1DB954] opacity-100;
}

.sticky .loginBtn {
  @apply text-[#121212] dark:text-white hover:text-[#1DB954] dark:hover:text-[#1DB954] hover:opacity-100;
}

.sticky .signUpBtn {
  @apply bg-[#1DB954] text-white hover:bg-[#1AA34A] hover:text-white;
}

.sticky #themeSwitcher ~ span {
  @apply text-[#121212] dark:text-white;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply top-[7px] rotate-45 transform;
}
.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] rotate-[135deg];
}

.common-carousel .swiper-button-next:after,
.common-carousel .swiper-button-prev:after {
  @apply hidden;
}

.common-carousel .swiper-button-next,
.common-carousel .swiper-button-prev {
  @apply !static h-12 w-12 rounded-lg bg-white dark:bg-[#121212] shadow-testimonial-btn text-[#121212] dark:text-white m-0 ease-out duration-200 hover:bg-[#1DB954] hover:text-white hover:shadow-none;
}

.common-carousel .swiper-button-next svg,
.common-carousel .swiper-button-prev svg {
  @apply w-auto h-auto;
}
